{% assign data_size = site.data.samples[page.title].size %}

{% if data_size > 1 %}
<h2>{{ data_size }} Model Comparisons</h2>
{% else %}
<h2>Model Samples</h2>
{% endif %}

{% include sample-notice.html %}

{% if data_size > 1 %}
{% for model in site.data.samples[page.title] %}
<details>
  <summary>{{ model[0] }}</summary>

  {% for item in model[1] %}
  <details>
    <summary>{{ item[0] | capitalize }}</summary>

    {% assign image_url = item[1] %}
    {% include image-to-original.html image-link=image_url %}

  </details>
  {% endfor %}

</details>
{% endfor %}
{% else %}
{% for model in site.data.samples[page.title] %}
{% for item in model[1] %}
<details>
  <summary>{{ item[0] | capitalize }}</summary>

  {% assign image_url = item[1] %}
  {% include image-to-original.html image-link=image_url %}

</details>
{% endfor %}
{% endfor %}
{% endif %}